@charset "utf-8";
/* CSS Document */
*{
	margin: 0;
	padding: 0;
	outline: 0;
}
body{font-family: Constantia, "Lucida Bright", "DejaVu Serif", Georgia, "serif"}
section{
	border: 10px rgba(1,1,1,1.00);
	height: 90vh;
}
.container{
	border: 10px rgba(5,5,5,1.00);
	max-width: 700px;
	margin:auto;
	
	height: 100vh;
	display:flex;
	align-items: center;
	justify-content: center;
}
body{
	height: auto;
	display: grid;align-items: center;
	place-items: center;
}
.filter{
	
	position:absolute;
	top: 0;
	left: 0;
	right: 0;
	bottome: 0;
	z-index: 1;
	opacity: .7;
}
th{
	background-color:black;
	color:cyan;
}

	tr:nth-child(odd){
		background-color:darkcyan;
	}
table{
	position:absolute;
	z-index: 2;
	left: 50%;
	top: 70%;
	transform: translate(-50%,-50%);
	width: 60%;
	height: 400px;
}
.footer
video {
  display: block;
  margin:inherit
}